<!-- Left side column. contains the logo and sidebar -->
<aside class="main-sidebar">

  <!-- sidebar: style can be found in sidebar.less -->
  <section class="sidebar">

    <!-- Sidebar user panel (optional) -->
    <div class="user-panel">
      <div class="pull-left image">
        <img src="/assets/images/default.png" class="img-circle" alt="User Image">
      </div>
      <div class="pull-left info">
        <p>{{ this.account.name }}</p>
        <a>{{ this.account.user }}</a>
      </div>
    </div>

    <!-- Sidebar Menu -->
    <ul class="sidebar-menu">
      <li class="header">NAVIGATION</li>
      <!-- Optionally, you can add icons to the links -->
      <li class="{{ mainMenu == 'home' ? 'active' }}"><a href="/"><i class="fa fa-home"></i> <span>Home</span></a></li>
      {% if not this.account.is_admin %}
        <li class="treeview {{ mainMenu == 'myCca' ? 'active' }}">
          <a href="#"><i class="fa fa-soccer-ball-o"></i> <span>My CCA</span> <i class="fa fa-angle-left pull-right"></i></a>
          <ul class="treeview-menu">
            <li class="{{ subMenu == 'preference' ? 'active' }}"><a href="/cca/preference" {% if not this.settings.allow_preference %}data-toggle="tooltip" data-placement="right" title="Currently Disabled!"{% endif %}><i class="fa fa-sort-numeric-asc"></i> Committee Preference</a></li>
            <li class="{{ subMenu == 'points' ? 'active' }}"><a href="/cca/points" {% if not this.settings.allow_points %}data-toggle="tooltip" data-placement="right" title="Currently Disabled!"{% endif %}><i class="fa fa-tachometer"></i> Points</a></li>
          </ul>
        </li>
      {% endif %}
      <li class="treeview {{ mainMenu == 'account' ? 'active' }}">
        <a href="#"><i class="fa fa-user"></i> <span>My Account</span> <i class="fa fa-angle-left pull-right"></i></a>
        <ul class="treeview-menu">
          <li class="{{ subMenu == 'profile' ? 'active' }}"><a href="#"><i class="fa fa-circle-o"></i> View Profile</a></li>
          {% if this.account.has_password %}
            <li class="{{ subMenu == 'changePassword' ? 'active' }}"><a href="/changepassword"><i class="fa fa-circle-o"></i> Change Password</a></li>
          {% endif %}
          <li><a href="/logout"><i class="fa fa-sign-out"></i> Sign Out</a></li>
        </ul>
      </li>
      {% if this.account.is_admin %}
        <li class="treeview active">
          <a href="#"><i class="fa fa-gear"></i> <span>Admin</span> <i class="fa fa-angle-left pull-right"></i></a>
          <ul class="treeview-menu">
            <li class="{{ subMenu == 'account' ? 'active' }}">
              <a href="#"><i class="fa fa-circle-o"></i> <span>Account</span> <i class="fa fa-angle-left pull-right"></i></a>
              <ul class="treeview-menu">
                <li class="{{ subSubMenu == 'viewAccount' ? 'active' }}"><a href="/account/view"><i class="fa fa-caret-right"></i> View all Accounts</a></li>
              </ul>
            </li>
            <li class="{{ subMenu == 'cca' ? 'active' }}">
              <a href="#"><i class="fa fa-circle-o"></i> <span>CCA</span> <i class="fa fa-angle-left pull-right"></i></a>
              <ul class="treeview-menu">
                <li class="{{ subSubMenu == 'viewCca' ? 'active' }}"><a href="/cca/view"><i class="fa fa-caret-right"></i> View all CCAs</a></li>
                <li class="{{ subSubMenu == 'viewCcatype' ? 'active' }}"><a href="/ccatype/view"><i class="fa fa-caret-right"></i> View all CCA Types</a></li>
                <li class="{{ subSubMenu == 'viewCcaclassification' ? 'active' }}"><a href="/ccaclassification/view"><i class="fa fa-caret-right"></i> View all CCA Classifications</a></li>
              </ul>
            </li>
            <li class="{{ subMenu == 'settings' ? 'active' }}"><a href="/settings"><i class="fa fa-cogs"></i> Settings</a></li>
          </ul>
        </li>
      {% endif %}

    </ul><!-- /.sidebar-menu -->
  </section>
  <!-- /.sidebar -->
</aside>
