{% extends '_layouts/template.twig' %}

{% block content_header %}
  <!-- Content Header (Page header) -->
  <section class="content-header">
    <h1>
      Settings
    </h1>
    <ol class="breadcrumb">
      <li><a href="/"><i class="fa fa-home"></i> Home</a></li>
      <li class="active">
        Settings
      </li>
    </ol>
  </section>
{% endblock %}

{% block content %}
  <!-- Main content -->
  <section class="content">
    <div class="row">
      <!-- column -->
      <div class="col-md-6">
        <div class="box box-primary">
          <div class="box-header with-border">
            <h3 class="box-title">
              General
            </h3>
          </div><!-- /.box-header -->

          <form role="form" action="settings/general" method="post">
            <div class="box-body">
              <div class="row">
                <input type="hidden" name="id" value="{{ settings.id }}">
                <div class="col-xs-12">
                  <!-- text input -->
                  <div class="form-group">
                    <label>Current Academic Year</label>
                    <input type="text" class="form-control" value="AY{{ constant('ACAD_YEAR') }}" disabled>
                    <small>Automatically changes every 1<sup>st</sup> August.</small>
                  </div>
                </div>
                <div class="col-xs-12">
                  <!-- select -->
                  <div class="form-group">
                    <label>Resident Login</label>
                    <br>
                    <input type="checkbox" class="bootstrap-switch" name="allow_login" {{ settings.allow_login ? 'checked' }}>
                    <br>
                    <small>
                      Allow/disallow residents to login.<br>
                      When disallowed, they will receive login disabled error when using NUSNET ID login, or incorrect username/password error when using alternative login.<br>
                      Recommended to disallow until the points are ready for public viewing.<br>
                      Does not affect admin.
                    </small>
                  </div>
                </div>
                <div class="col-md-12">
                  <div class="form-group">
                    <label>Committee Preference</label>
                    <br>
                    <input type="checkbox" class="bootstrap-switch" name="allow_preference" {{ settings.allow_preference ? 'checked' }}>
                    <br>
                    <small>Allows/disallow residents to rank their committee allocation preference.</small>
                  </div>
                </div>
                <div class="col-md-12">
                  <div class="form-group">
                    <label>Points Release</label>
                    <br>
                    <input type="checkbox" class="bootstrap-switch" name="allow_points" {{ settings.allow_points ? 'checked' }}>
                    <br>
                    <small>Allows/disallow residents to view their points.</small>
                  </div>
                </div>
              </div>
            </div><!-- /.box-body -->
            <div class="box-footer">
              <button class="btn btn-success" type="submit">
                <i class="fa fa-save"></i> Save
              </button>
            </div>
          </form>
        </div><!-- /.box -->
      </div><!--/.col -->

      <!-- column -->
      <div class="col-md-6">
        <div class="box box-primary">
          <div class="box-header with-border">
            <h3 class="box-title">
              Archive
            </h3>
          </div><!-- /.box-header -->

          <form role="form" action="/settings/archive" method="post">
            <div class="box-body">
              <div class="row">
                <div class="col-xs-12">
                  <!-- select -->
                  <div class="form-group">
                    <label>Change Academic Year View</label>
                    <select class="form-control" name="acad_year">
                      {% for acadYear in acadYears if acadYear.acad_year != '' %}
                        <option value="{{ acadYear.acad_year }}" {{ acadYear.acad_year == currentAcadYearView ? 'selected' }}>AY{{ acadYear.acad_year }} {{ acadYear.acad_year != constant('ACAD_YEAR') ? '[Archived]'}}</option>
                      {% endfor %}
                    </select>
                    <small>Editing is disabled for archived years.</small>
                  </div>
                </div>
              </div>
            </div><!-- /.box-body -->
            <div class="box-footer">
              <button class="btn btn-success" type="submit">
                <i class="fa fa-save"></i> Save
              </button>
            </div>
          </form>
        </div><!-- /.box -->
      </div><!--/.col -->

      <!-- column -->
      <div class="col-md-6">
        <div class="box box-primary">
          <div class="box-header with-border">
            <h3 class="box-title">
              Export
            </h3>
          </div><!-- /.box-header -->
          <div class="box-body">
            <div class="row">
              <div class="col-md-12">
                <div class="form-group">
                  <label>Export Committee Preference to CSV file</label>
                  <br>
                  <a href="/settings/export/preference" class="btn btn-warning btn-sm"><i class="fa fa-download"></i> Export</a>
                </div>
              </div>
              <div class="col-md-12">
                <div class="form-group">
                  <label>Export all Points to CSV file</label>
                  <br>
                  <a href="/settings/export/points" class="btn btn-warning btn-sm"><i class="fa fa-download"></i> Export</a>
                </div>
              </div>
            </div>
          </div><!-- /.box-body -->
        </div><!-- /.box -->
      </div><!--/.col -->
    </div>   <!-- /.row -->
  </section><!-- /.content -->
{% endblock %}
