{% extends '_layouts/template.twig' %}

{% block content_header %}
  <!-- Content Header (Page header) -->
  <section class="content-header">
    <h1>
      Account
      <small>
        All
      </small>
    </h1>
    <ol class="breadcrumb">
      <li><a href="/"><i class="fa fa-home"></i> Home</a></li>
      <li class="active">Account</li>
    </ol>
  </section>
{% endblock %}

{% block content %}
  <!-- Main content -->
  <section class="content">
    <div class="row">
      <div class="col-xs-12">
        <div class="box box-primary">
          <div class="box-header">
            <h3 class="box-title">Account</h3>
            <div class="box-tools pull-right">
              {% if this.editable %}
                <a href="/account/edit" class="btn btn-success"><i class="fa fa-plus"></i> Add</a>
              {% endif %}
            </div><!-- /.box-tools -->
          </div><!-- /.box-header -->
          <div class="box-body">
            <table class="table table-bordered table-striped data-table">
              <thead>
                <tr>
                  <th>Name</th>
                  <th>Room</th>
                  <th>Email</th>
                  <th>Contact</th>
                  <th>CCAs</th>
                  <th>Total Points</th>
                  <th style="width: 110px;"></th>
                </tr>
              </thead>
              <tbody>
                {% for account in accounts %}
                  <tr>
                    <td>{{ account.name }}</td>
                    <td>{{ account.room }}</td>
                    <td>{{ account.email }}</td>
                    <td>{{ account.contact }}</td>
                    <td>
                      {% if account.memberships %}
                        {% for membership in account.memberships %}
                          <a href="/cca/edit/{{ membership.cca_id }}">{{ membership.cca_name }}</a>
                          <span class="pull-right">{{ membership.points }}</span>
                          <br>
                        {% endfor %}
                      {% endif %}
                    </td>
                    <td><span class="pull-right">{{ account.totalPoints.points }}</span></td>
                    <th class="text-center">
                      <a href="/account/edit/{{ account.id }}" class="btn btn-sm btn-default">
                        <i class="fa fa-edit"></i> {{ this.editable ? 'Edit' : 'View' }}
                      </a>
                      {% if this.editable %}
                        <a href="/account/delete/{{ account.id }}" class="js-confirm-delete btn btn-sm btn-default">
                          <i class="fa fa-trash"></i> Delete
                        </a>
                      {% endif %}
                    </th>
                  </tr>
                {% endfor %}
              </tbody>
              <tfoot>
                <tr>
                  <th>Name</th>
                  <th>Room</th>
                  <th>Email</th>
                  <th>Contact</th>
                  <th>CCAs</th>
                  <th>Total Points</th>
                  <th></th>
                </tr>
              </tfoot>
            </table>
          </div><!-- /.box-body -->
        </div><!-- /.box -->
      </div><!-- /.col -->
    </div><!-- /.row -->
  </section><!-- /.content -->
{% endblock %}

{% block script %}
  <script>
    $(function () {
      $(".data-table").DataTable();
    });
  </script>
{% endblock %}
