{% extends '_layouts/template.twig' %}

{% block content_header %}
  <!-- Content Header (Page header) -->
  <section class="content-header">
    <h1>
      {{ admin ? 'Admin' }} Account
      <small>
        All
      </small>
    </h1>
    <ol class="breadcrumb">
      <li><a href="/"><i class="fa fa-home"></i> Home</a></li>
      <li class="active">{{ admin ? 'Admin' }} Account</li>
    </ol>
  </section>
{% endblock %}

{% block content %}
  <!-- Main content -->
  <section class="content">
    <div class="row">
      <div class="col-xs-12">
        <div class="box box-warning">
          <div class="box-header">
            <h3 class="box-title">{{ admin ? 'Admin' }} Account</h3>
            <div class="box-tools pull-right">
              {% if this.editable %}
                <div class="btn-group">
                  <a href="/account/edit{{ admin ? 'Admin' }}" class="btn btn-success"><i class="fa fa-plus"></i> Add</a>
                  {% if not admin %}
                    <a class="btn btn-success dropdown-toggle" data-toggle="dropdown" aria-expanded="false">
                      <span class="caret"></span>
                      <span class="sr-only">Toggle Dropdown</span>
                    </a>
                    <ul class="dropdown-menu" role="menu">
                      <li><a href="/account/import"><i class="fa fa-upload"></i> Import</a></li>
                    </ul>
                  {% endif %}
                </div>
              {% endif %}
            </div><!-- /.box-tools -->
          </div><!-- /.box-header -->
          <div class="box-body">
            <table class="table table-bordered table-striped data-table hidden">
              <thead>
                <tr>
                  <th>Name</th>
                  <th class="hidden-xs hidden-sm">NUSNET ID</th>
                  {% if not admin %}
                    <th class="hidden-xs hidden-sm">Room</th>
                    <th class="hidden-xs hidden-sm">Email</th>
                    <th class="hidden-xs hidden-sm">Contact</th>
                    <th class="hidden-xs">CCAs</th>
                    <th>Total Points</th>
                  {% endif %}
                  <th style="width: 110px;"></th>
                </tr>
              </thead>
              <tbody>
                {% for account in accounts %}
                  <tr>
                    <td>{{ account.name }}</td>
                    <td class="hidden-xs hidden-sm">{{ account.user }}</td>
                    {% if not admin %}
                      <td class="hidden-xs hidden-sm">{{ account.room }}</td>
                      <td class="hidden-xs hidden-sm">{{ account.email }}</td>
                      <td class="hidden-xs hidden-sm">{{ account.contact }}</td>
                      <td class="hidden-xs">
                        {% if account.memberships %}
                          {% for membership in account.memberships %}
                            <a href="/cca/edit/{{ membership.cca_id }}">{{ membership.cca_name }}</a>
                            <span class="pull-right">{{ membership.points }}</span>
                            <br>
                          {% endfor %}
                        {% endif %}
                      </td>
                      <td><span class="pull-right">{{ account.totalPoints.points }}</span></td>
                    {% endif %}
                    <th class="text-center">
                      <form role="form" action="/account/delete" method="post">
                        <input type="hidden" name="{{ csrf['name'] }}" value="{{ csrf['hash'] }}">
                        <input type="hidden" name="id" value="{{ account.id }}">
                        <a href="/account/edit{{ admin ? 'Admin' }}/{{ account.id }}" class="btn btn-sm btn-default">
                          <i class="fa fa-edit"></i> {{ this.editable ? 'Edit' : 'View' }}
                        </a>
                        {% if this.editable %}
                          <button class="js-confirm-delete btn btn-sm btn-default" type="submit">
                            <i class="fa fa-trash"></i> Delete
                          </button>
                        {% endif %}
                      </form>
                    </th>
                  </tr>
                {% endfor %}
              </tbody>
              <tfoot>
                <tr>
                  <th>Name</th>
                  <th class="hidden-xs hidden-sm">NUSNET ID</th>
                  {% if not admin %}
                    <th class="hidden-xs hidden-sm">Room</th>
                    <th class="hidden-xs hidden-sm">Email</th>
                    <th class="hidden-xs hidden-sm">Contact</th>
                    <th class="hidden-xs">CCAs</th>
                    <th>Total Points</th>
                  {% endif %}
                  <th></th>
                </tr>
              </tfoot>
            </table>
          </div><!-- /.box-body -->
        </div><!-- /.box -->
      </div><!-- /.col -->
    </div><!-- /.row -->
  </section><!-- /.content -->
{% endblock %}
