{% extends '_layouts/template.twig' %}

{% block content_header %}
  <!-- Content Header (Page header) -->
  <section class="content-header">
    <h1>
      CCA
      <small>
        Import
      </small>
    </h1>
    <ol class="breadcrumb">
      <li><a href="/"><i class="fa fa-home"></i> Home</a></li>
      <li><a href="#">Import</a></li>
      <li class="active">
        CCA
      </li>
    </ol>
  </section>
{% endblock %}

{% block content %}
  <!-- Main content -->
  <section class="content">
    <div class="row">
      <!-- column -->
      <div class="col-xs-12">
        {% if imported %}
          <div class="box box-warning">
            <div class="box-header">
              <h3 class="box-title">Added CCAs</h3>
            </div><!-- /.box-header -->
            <div class="box-body">
              <div class="loader loader-table">Loading...</div>
              <table class="table table-bordered table-striped data-table hidden">
                <thead>
                  <tr>
                    <th>Name</th>
                    <th>Type</th>
                    <th>Classification</th>
                  </tr>
                </thead>
                <tbody>
                  {% for row in imported %}
                    <tr>
                      <td>{{ row.name }}</td>
                      <td>{{ row.type_name }}</td>
                      <td>{{ row.classification_name }}</td>
                    </tr>
                  {% endfor %}
                </tbody>
                <tfoot>
                  <tr>
                    <th>Name</th>
                    <th>Type</th>
                    <th>Classification</th>
                  </tr>
                </tfoot>
              </table>
            </div><!-- /.box-body -->
          </div><!-- /.box -->
        {% endif %}

        {% if updated %}
          <div class="box box-warning">
            <div class="box-header">
              <h3 class="box-title">Updated CCAs</h3>
            </div><!-- /.box-header -->
            <div class="box-body">
              <div class="loader loader-table">Loading...</div>
              <table class="table table-bordered table-striped data-table hidden">
                <thead>
                  <tr>
                    <th>Name</th>
                    <th>Type</th>
                    <th>Classification</th>
                  </tr>
                </thead>
                <tbody>
                  {% for row in updated %}
                    <tr>
                      <td>{{ row.name }}</td>
                      <td>{{ row.type_name }}</td>
                      <td>{{ row.classification_name }}</td>
                    </tr>
                  {% endfor %}
                </tbody>
                <tfoot>
                  <tr>
                    <th>Name</th>
                    <th>Type</th>
                    <th>Classification</th>
                  </tr>
                </tfoot>
              </table>
            </div><!-- /.box-body -->
          </div><!-- /.box -->
        {% endif %}

        {% if skipped %}
          <div class="box box-warning">
            <div class="box-header">
              <h3 class="box-title">Skipped Rows</h3>
            </div><!-- /.box-header -->
            <div class="box-body">
              <div class="loader loader-table">Loading...</div>
              <table class="table table-bordered table-striped data-table hidden">
                <thead>
                  <tr>
                    <th>Row</th>
                    <th>Reason</th>
                  </tr>
                </thead>
                <tbody>
                  {% for row in skipped %}
                    <tr>
                      <td>{{ row.row }}</td>
                      <td>{{ row.reason }}</td>
                    </tr>
                  {% endfor %}
                </tbody>
                <tfoot>
                  <tr>
                    <th>Row</th>
                    <th>Reason</th>
                  </tr>
                </tfoot>
              </table>
            </div><!-- /.box-body -->
          </div><!-- /.box -->
        {% endif %}

        <div class="box box-warning">
          <div class="box-header with-border">
            <h3 class="box-title">
              Import from File
            </h3>
          </div><!-- /.box-header -->
          <form role="form" method="post" enctype="multipart/form-data">
            <input type="hidden" name="{{ csrf['name'] }}" value="{{ csrf['hash'] }}">
            <input type="hidden" name="submit">
            <div class="box-body">
              <div class="row">
                <div class="col-md-12">
                  <!-- file upload -->
                  <div class="form-group">
                    <label for="exampleInputFile">File input</label>
                    <input type="file" id="exampleInputFile" name="file">
                    <p class="help-block">CSV format only. Max 2MB file size.</p>
                      <ul>
                        <li>Sample CCA CSV file available.<br><a href="/sample/cca-sample.csv" class="btn btn-warning btn-sm"><i class="fa fa-download"></i> Download</a></li>
                        <li><code>Type</code> and <code>Classification</code> column entries must match entries listed in <a href="/ccatype/view">CCA Types</a> and <a href="/ccaclassification/view">CCA Classifications</a>.</li>
                        <li>If <code>Type</code> or <code>Classification</code> entry is not found, it will default to <code>None</code>.</li>
                        <li>It is <strong>case-sensitive</strong>.</li>
                        <li>If <code>Name</code> already exists, the existing CCA will be updated with the imported data.</li>
                        <li>If there are rows with repeated <code>Name</code>, only the first row will be imported.</li>
                      </ul>
                  </div>
                </div>
              </div>
            </div><!-- /.box-body -->
            <div class="box-footer">
              <button class="btn btn-success" type="submit">
                <i class="fa fa-upload"></i> Upload
              </button>
              <a class="btn btn-default" href="/cca/view">
                <i class="fa fa-ban"></i> Cancel
              </a>
            </div>
          </form>
        </div><!-- /.box -->

        <div class="box box-warning">
          <div class="box-header with-border">
            <h3 class="box-title">
              Import from Previous Year
            </h3>
          </div><!-- /.box-header -->
          <div class="box-body">
            <div class="row">
              <div class="col-md-12">
                <ul>
                  <li>Import CCAs from previous AY{{ lastAcadYear }}.</li>
                  <li>No membership information will be imported.</li>
                </ul>
              </div>
            </div>
          </div><!-- /.box-body -->
          <div class="box-footer">
            <a href="/cca/importLastYear" class="btn btn-success {{ lastAcadYearCcas ? '' : 'disabled' }}">
              <i class="fa fa-repeat"></i> {{ lastAcadYearCcas ? 'Import' : 'No CCAs found' }} from AY{{ lastAcadYear }}
            </a>
          </div>
        </div><!-- /.box -->
      </div><!--/.col -->
    </div>   <!-- /.row -->
  </section><!-- /.content -->
{% endblock %}
